" options
set clipboard=unnamedplus
set ideajoin
set ignorecase
set incsearch
set nonumber
set scrolloff=10

" IdeaVim plugins
set NERDTree
set commentary

let mapleader=" "
imap kj <Esc>

" completion
imap <C-y> <Action>(EditorChooseLookupItem)
imap <C-l> <Action>(NextTemplateVariable)
vmap <C-l> <Action>(NextTemplateVariable)
imap <C-h> <Action>(PreviousTemplateVariable)
vmap <C-h> <Action>(PreviousTemplateVariable)

" move selected lines up & down
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" indent selected lines
vmap > >gv
vmap < <gv

" split
nmap <leader>sv <Action>(SplitVertically)
nmap <leader>sh <Action>(SplitHorizontally)

" move through splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" lsp
nmap <leader>rn <Action>(RenameElement)
nmap <leader>ca <Action>(ShowIntentionActions)
vmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>d <Action>(ShowErrorDescription)
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

" debugging
nmap <leader>b <Action>(ToggleLineBreakpoint)

" Fuzzier
map <Leader>ff <action>(com.mituuz.fuzzier.Fuzzier)
