! Xft
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! nsxiv
Nsxiv.bar.background: #181616
Nsxiv.bar.font: monospace:style=Regular:size=15
Nsxiv.bar.foreground: #c5c9c5
Nsxiv.mark.foreground: #c5c9c5
Nsxiv.window.background: #181616
Nsxiv.window.foreground: #c5c9c5
